<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% block page_title %}{% endblock %} - {% block site_title %}Improvisions{% endblock %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
			<h1><a href="{{ path('homepage') }}">{{ block('site_title') }}</a></h1>
		</header>
		
		<nav id="nav">
			{% block nav %}{% endblock %}
		</nav>
		
		<div>
			<h2>{{ block('page_title') }}</h2>
		
			{% block content %}{% endblock %}
		</div>
		
        {% block javascripts %}{% endblock %}
    </body>
</html>
