{% extends 'base.html.twig' %}

{% block title %}{{ block('site_title') }} : {{ 'site.short_description'|trans }}{% endblock %}

{% block nav %}
	<li>{{ include('annee/menu.html.twig') }}</li>
{% endblock %}
